<?php $customer = $this->getCustomer(); ?>
<?php $advisor = $this->getAdvisor(); ?>
<div class="box-advisor">
    <!--Order Information-->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account">Advisor Details</h4>
            <?php if ($this->isUserInstaller()): ?>
                <div class="tools"><a href="<?php echo $this->getAdvisorEditUrl();?>">Edit</a></div>
            <?php endif; ?>
        </div>
        <div class="fieldset">
            <table cellspacing="0" class="form-list">
                <tbody>
                    <tr>
                        <td class="label"><label>Name</label></td>
                        <td class="value"><strong><?php echo $advisor->getName(); ?></strong></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Telephone</label></td>
                        <td class="value"><strong><?php echo $advisor->getTelephone(); ?></strong></td>
                    </tr>
                    <tr>
                        <td class="label"><label>E-mail</label></td>
                        <td class="value"><strong><?php echo $advisor->getEmail(); ?></strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>