<div style="clear:both;text-align:right;"/>
<button class="back" onclick="setLocation('/admin/installation/index');">Back</button>
<?php
$customer = $this->getCustomer();
$status = $this->getStatusText();
if($status != 'Complete' && $status != 'Cancelled')
{
	switch($status)
	{
		case 'With Technical':
		?>
		<button data-button="survey">Survey Required</button>
		<button data-button="install">Ready to Install</button>
		<?php
		;break;
		case 'Survey Required':
		?>
		<button data-button="quote">Quote with customer</button>
		<?php
		;break;
		case 'Quote With Customer':
		?>
		<button data-button="install">Ready to Install</button>
		<?php
		;break;
		case 'Ready To Install':
		?>
		<button data-button="booked">Installer Booked</button>
		<?php;break;
		case 'Installation In Progress':
		?>
		<button data-button="billing">Ready for Billing</button>
		<?php
		case 'Ready For Billing':
		?>
		<button data-button="complete">Complete</button>
		<?php
		;break;
		default:
		?>
		<button class="cancel" data-button="cancel">Cancel</button>
		<?php
		;break;
	}
	?>
	<button class="cancel" data-button="cancel">Cancel</button>
	<?php
}
?>
</div>