<?php
$customer = $this->getCustomer();
?>
<div class="box-customer">
	<!--Order Information-->
	<div class="entry-edit">
		<div class="entry-edit-head">
			<h4 class="icon-head head-account">Customer Details</h4>
			<?php if ($this->isUserInstaller()): ?>
			<div class="tools"><a href="<?php echo $this->getCustomerEditUrl();?>">Edit</a></div>
		<?php endif; ?>
		</div>
		<div class="fieldset">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label>Name</label></td>
						<td class="value"><strong><?php echo $customer->getFirstName() . ' ' . $customer->getLastName(); ?></strong></td>
					</tr>
					<tr>
						<td class="label"><label>Address</label></td>
						<td class="value"><strong>
						<?php
						echo $customer->getAddress1() . '<br/>';
						echo strlen($customer->getAddress2()) > 0 ? $customer->getAddress2() . '<br/>' : '';
						echo $customer->getTown()?>
						<br/>
						<a target="_blank" href="http://www.google.co.uk/maps?q=<?php echo $customer->getPostcode(); ?>"><?php echo $customer->getPostcode(); ?></a>
						</strong></td>
					</tr>
					<tr>
						<td class="label"><label>Telephone</label></td>
						<td class="value"><strong><?php echo $customer->getTelephone(); ?></strong></td>
					</tr>
					<tr>
						<td class="label"><label>E-mail</label></td>
						<td class="value"><strong><?php echo $customer->getEmail(); ?></strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>