<?php
$customer = $this->getCustomer();
$collection = $this->getDrawings();
if(count($collection) > 0)
{
	?>
	<div class="box-drawings">
		<!--Order Information-->
		<div class="entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-account">Provided Files</h4>
			</div>
			<div class="fieldset">
				<table cellspacing="0" class="form-list">
					<tbody>
						<?php
						foreach($collection as $drawing)
						{
							$ext = substr(strrchr($drawing->getContent(),'.'),1);
							$mediaPath = '/media/ufhs/installation/';
							$filePath = $mediaPath . 'drawing/' . $customer->getId() . '/' . $drawing->getContent();
							?>
							<tr>
								<td>
									<a href="<?php echo $filePath; ?>" download class="drawing">
										<strong><?php echo strtoupper($ext);?></strong>
										<span><?php echo $drawing->getContent();?></span>
									</a>
								</td>
							</tr>
							<?php
						}
						?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<?php
}
?>