<?php $data = $this->getContent(); ?>
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>install Registration</title>
    <style>
/* -------------------------------------
    GLOBAL
    ------------------------------------- */
    * {
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-size: 100%;
        line-height: 1.6em;
        margin: 0;
        padding: 0;
    }

    img {
        max-width: 600px;
        width: 100%;
    }

    body {
        -webkit-font-smoothing: antialiased;
        height: 100%;
        -webkit-text-size-adjust: none;
        width: 100% !important;
    }


/* -------------------------------------
    ELEMENTS
    ------------------------------------- */
    a {
        color: #348eda;
    }

    .btn-primary {
        Margin-bottom: 10px;
        width: auto !important;
    }

    .btn-primary td {
        background-color: #348eda;
        border-radius: 25px;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        text-align: center;
        vertical-align: top;
    }

    .btn-primary td a {
        background-color: #348eda;
        border: solid 1px #348eda;
        border-radius: 25px;
        border-width: 10px 20px;
        display: inline-block;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
        line-height: 2;
        text-decoration: none;
    }

    .last {
        margin-bottom: 0;
    }

    .first {
        margin-top: 0;
    }

    .padding {
        padding: 10px 0;
    }


/* -------------------------------------
    BODY
    ------------------------------------- */
    table.body-wrap {
        padding: 20px;
        width: 100%;
    }

    table.body-wrap .container {
        border: 1px solid #f0f0f0;
    }


/* -------------------------------------
    FOOTER
    ------------------------------------- */
    table.footer-wrap {
        clear: both !important;
        width: 100%;
    }

    .footer-wrap .container p {
        color: #666666;
        font-size: 12px;

    }

    table.footer-wrap a {
        color: #999999;
    }


/* -------------------------------------
    TYPOGRAPHY
    ------------------------------------- */
    h1,
    h2,
    h3 {
        color: #111111;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 200;
        line-height: 1.2em;
        margin: 0 0 10px;
    }

    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22px;
    }

    p,
    ul,
    ol {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    ul li,
    ol li {
        margin-left: 5px;
        list-style-position: inside;
    }

/* ---------------------------------------------------
    RESPONSIVENESS
    ------------------------------------------------------ */

    /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
    .container {
        clear: both !important;
        display: block !important;
        Margin: 0 auto !important;
        max-width: 800px !important;
    }

    /* Set the padding on the td rather than the div for Outlook compatibility */
    .body-wrap .container {
        padding: 20px;
    }

    /* This should also be a block element, so that it will fill 100% of the .container */
    .content {
        display: block;
        margin: 0 auto;
        max-width: 800px;
    }

    /* Let's make sure tables in the content area are 100% wide */
    .content table {
        width: 100%;
    }


/* ---------------------------------------------------
    install DETAILS SPECIFIC STUFF
    ------------------------------------------------------ */

    .add-form-container label {
        display: inline-block;
        vertical-align: middle;
        width: 28%;
        margin-right: 5%;
        text-align: left;
        font-size: 13px;
        line-height: 15px
    }
    .add-form-container label small {
        display: block;
        font-weight: normal;
        font-size: 75%
    }
    .add-form-container .input-block {
        display: inline-block;
        vertical-align: middle;
        width: 65%
    }
    .add-form-container .input-block input {
        margin: 0;
        padding: 8px 10px
    }
    .add-form-container .input-block label.block {
        line-height: 12px;
        margin: 2px 0 8px 0;
        text-align: center;
        width: auto
    }
    .add-form-container .input-block label.block input {
        display: inline-block;
        margin-left: 8px;
        cursor: pointer
    }
    .add-form-container table {
        width: 100%;
        margin-bottom: 20px
    }
    .add-form-container table tbody th {
        background: #EDEDED;
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        padding: 9px 0
    }
    .add-form-container table tbody th.blank {
        background: none
    }
    .add-form-container table tbody th.retailer {
        width: 24%
    }
    .add-form-container table tbody th span {
        display: none
    }
    .add-form-container table tbody tr.kit-notice td {
        font-size: 14px;
        line-height: 18px;
        color: #d9534f;
        padding-top: 10px;
        text-align: left
    }
    .add-form-container table tbody tr.th-headings th {
        font-size: 14px;
        padding: 6px 0
    }
    .add-form-container table tbody td {
        font-size: 12px;
        text-align: center
    }
    .add-form-container .add-button {
        background-color: #ec6608;
        display: inline-block;
        padding: 10px 34px;
        border: 1px solid #d35b07;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        position: relative;
        text-decoration: none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px
    }
    .add-form-container .add-button:hover,
    .add-form-container .add-button:focus,
    .add-form-container .add-button:active {
        color: #fff;
        text-decoration: none;
        border-color: #d35b07;
        background-color: #f77316;
        cursor: pointer
    }
    .add-form-container .add-button.arrow,
    .add-form-container .add-button.system-selector-button {
        text-align: left;
        padding: 10px 14px
    }
    .add-form-container .add-button.arrow:after,
    .add-form-container .add-button.system-selector-button:after {
        font-family: "prowarmicon" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        font-size: inherit;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        vertical-align: middle;
        content: "i";
        font-size: 120%;
        margin-left: 30px
    }
    .add-form-container .delete-button {
        font-size: 16px;
        line-height: 16px;
        color: #d9534f;
        display: block;
        font-weight: 700;
        cursor: pointer
    }
    .add-form-container .delete-button:hover {
        color: #ec6608
    }
    .add-form-container .button-descriptor {
        font-size: 23px;
        line-height: 9px;
        bottom: -4px;
        position: relative;
        margin-left: 4px
    }
    .add-form-container select,
    .add-form-container input[type="text"] {
        width: 100%
    }
    .add-form-container select.resistance,
    .add-form-container input[type="text"].resistance {
        padding-right: 47px
    }
    .add-form-container select.resistance ~ span,
    .add-form-container input[type="text"].resistance ~ span {
        position: relative;
        margin-left: -35px;
        color: #575757;
        font-weight: bold;
        background: #EDEDED;
        line-height: 28px;
        display: inline-block;
        font-size: 13px;
        text-align: center;
        width: 34px;
        -moz-border-radius-topright: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px
    }
    .add-form-container select:disabled,
    .add-form-container input[type="text"]:disabled {
        border-color: #EDEDED;
        background-color: #f7f7f7;
        cursor: not-allowed
    }
    .add-form-container select:disabled ~ span,
    .add-form-container input[type="text"]:disabled ~ span {
        background: #f2f2f2;
        color: #A1A1A1;
        cursor: not-allowed
    }
    .add-form-container select {
        height: 32px
    }
    .install-details {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #EDEDED
    }
    .install-details table th,
    .install-details table td {
        vertical-align: top;
        line-height: 18px;
        text-align: left;
    }
    .install-details table th {
        padding: 5px 12px 5px 0;
        font-size: 14px;
        font-weight: 600
    }
    .install-details table td {
        padding: 5px 12px;
        font-size: 14px
    }
    .resistance-values {
        margin-bottom: 20px;
        border-bottom: 1px solid #EDEDED
    }
    .resistance-values:last-of-type {
        border: none
    }
    #no-script-warning {
        padding: 6px 12px;
        background: #fff;
        border: 1px solid #fff;
        color: #d9534f;
        margin-bottom: 10px;
        font-size: 14px
    }

</style>
</head>
<body bgcolor="#f6f6f6" class="install">
    <!-- body -->
    <table class="body-wrap" bgcolor="#f6f6f6">
        <tbody>
            <tr>
                <td></td>
                <td class="container" bgcolor="#FFFFFF"><!-- content -->
                    <div class="content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="install-details">
                                            <h2>Job #<?php echo $data['id']; ?> - <?php echo $data['status']; ?></h2>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th>Customer</th>
                                                        <td><?php echo $data['customer']; ?></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Comment</th>
                                                        <td><?php echo $data['message']; ?> Click the link below to view the job details.</td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td><a href="http://www.theunderfloorheatingstore.com/admin/installation/view/id/<?php echo $data['id']; ?>">View job details</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Submitted on : <?php echo date('d/m/Y'); ?> </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /content -->
                </td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
    <!-- /body -->
</body>
</html>