<?php $customer = $this->getCustomer(); ?>
<?php $installer = $this->getInstaller(); ?>
<div class="box-installer">
    <!--Order Information-->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account">Installer Details</h4>
            <?php if ($this->isUserInstaller()): ?>
                <div class="tools"><a href="<?php echo $this->getInstallerEditUrl();?>">Edit</a></div>
            <?php endif; ?>
        </div>
        <div class="fieldset">
            <table cellspacing="0" class="form-list">
                <tbody>
                    <tr>
                        <td class="label"><label>Name</label></td>
                        <td class="value"><strong><?php echo $installer->getName(); ?></strong></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Address</label></td>
                        <td class="value"><strong>
                            <?php
                            echo strlen($installer->getCompany()) > 0 ? $installer->getCompany() . '<br/>' : '';
                            echo $installer->getAddress1() . '<br/>';
                            echo strlen($installer->getAddress2()) > 0 ? $installer->getAddress2() . '<br/>' : '';
                            echo $installer->getTown()?>
                            <br/>
                            <a target="_blank" href="http://www.google.co.uk/maps?q=<?php echo $installer->getPostcode(); ?>"><?php echo $installer->getPostcode(); ?></a>
                        </strong></td>
                    </tr>
                    <?php if ($installer->getMobile()): ?>
                        <tr>
                            <td class="label"><label>Mobile</label></td>
                            <td class="value"><strong><?php echo $installer->getMobile(); ?></strong></td>
                        </tr>
                    <?php endif; ?>
                    <?php if ($installer->getTelephone()): ?>
                        <tr>
                            <td class="label"><label>Telephone</label></td>
                            <td class="value"><strong><?php echo $installer->getTelephone(); ?></strong></td>
                        </tr>
                    <?php endif; ?>
                    <tr>
                        <td class="label"><label>E-mail</label></td>
                        <td class="value"><strong><?php echo $installer->getEmail(); ?></strong></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Install Date</label></td>
                        <td class="value">
                            <form action="<?php echo $this->getInstallDateUrl(); ?>" method="post">
                                <input type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey()?>" name="form_key"/>
                                <input type="hidden" name="id" value="<?php echo $customer->getId(); ?>"/>
                                <input type="date" value="<?php echo $customer->getInstallDate();?>" name="installdate"/>
                                <input type="submit" value="Update"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>