<div class="pie chart">
	<div class="content-header">
		<table cellspacing="0">
			<tbody>
				<tr>
					<td style="width:50%;">
						<h3 class="icon-head">Status Breakdown</h3>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<?php
	$data = $this->quantityPie();
	$total = $this->totalPie();
	$default = empty($data) ? 1 : 0;
	?>
	<script type="text/javascript">
		var loadPie = function () {
			var res = new CanvasJS.Chart("resChart",
			{
				title:{
					text: ""
				},
				animationEnabled: true,
				legend:{
					markerMargin: 10,
					verticalAlign: "center",
					horizontalAlign: "left",
					fontSize: 14,
					fontFamily: "Arial",
					itemWidth: 200
				},
				theme: "theme1",
				data: [
				{
					indexLabelFontSize: 12,
					type: "doughnut",
					startAngle: - 35,
					showInLegend: true,
					toolTipContent:"{label} #percent%",
					dataPoints: [
					<?php foreach ($data as $key => $value)
					{
						?>
						{ y:<?php echo $value; ?>, x:"<?php echo $key; ?>", indexLabel: "", legendText: "<?php echo $key; ?>" },
						<?php }
						?>
						{  y: <?php echo $default; ?>, x: "", showInLegend: false}
						]
					}
					]
				});
			res.render();
		}
	</script>
	<div id="resChart" style="height: 300px; width: 520px;"></div>
	<script>
		loadPie();
	</script>
</div>