.box-customer,
.box-property,
.box-drawings,
.box-installer,
.box-advisor,
.box-dates {
	width: auto;
	float: left;
	min-width: 300px;
	max-width: 450px;
	td.label,
	th.label {
		width: 100px;
		label{
			width: auto;
		}
	}
	.entry-edit .fieldset {
		margin-bottom: 30px;
	}
}

.box-customer,
.box-advisor {
	margin-left: 0;
}

.box-installer {
	margin: 0 30px;
}

.box-property {
	max-width: 1000px;
	display: block;
	clear: both;
	margin: 0;
}

.box-drawings,
.box-dates {
	display: inline-block;
	vertical-align: top;
}
.box-drawings {
	min-width: 200px;
}

.box-dates {
	clear: left;
	margin-right: 30px;
	td.label {
		width: 120px;
	}
}
.customer-details-left {
	float: left;
}

#installationRoomsGrid_table,
#installationReportGrid_table, {
	width: 1000px;
	margin-bottom: 10px;
}

#installationReportGrid_table {
	margin-bottom: 15px;
	width: 600px;
	tr {
		td,
		th {
			&:nth-of-type(1) {
				width: 150px;
			}
		}
	}
}

#installationNotesGrid_table {
	width: 100%;
	margin-bottom: 10px;
	tr {
		td,
		th {
			&:nth-of-type(1){
				min-width: 50px;
				max-width: 100px;
			}
			&:nth-of-type(2){
				min-width: 120px;
				max-width: 150px;
			}
			&:nth-of-type(3){
				min-width: 650px;
				max-width: 700px;
			}
			&:last-of-type {
				min-width: 140px;
				max-width: 150px;
			}
		}
	}
}
textarea#comment,
textarea#reason {
	height: 100px;
	width: 500px;
	clear: both;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.box-drawings {
	.drawing {
		text-decoration: none;
		span,
		strong {
			display: inline-block;
			vertical-align: middle;
		}
		span {
			text-decoration: underline;
		}
	}
}
.chart {
	display: inline-block;
	min-width: 600px;
	padding: 0 50px 0 0;
}
.canvasjs-chart-credit {
	display: none;
}

form#filterdate {
	.field-row {
		display: inline-block;
		width: auto;
		margin-right: 20px;
		margin-bottom: 20px;
		vertical-align: middle;
		label {
			width: auto;
			margin-right: 10px;
			float: none;
			vertical-align: middle;
		}
	}
}

form#accounts {
	display: block;
	clear: both;
	.field-row {
		display: block;
		width: auto;
		margin-right: 20px;
		margin-bottom: 20px;
		vertical-align: middle;
		label {
			display: inline-block;
			width: 100px;
			margin-right: 10px;
			float: none;
			vertical-align: middle;
		}
	}
}

.content-header {
	clear: both;
}

#resChart {
	padding-left: 50px;
}

#newjob,
#editcustomer {
	input[type="radio"] {
		margin-right: 5px;
	}
}

.entry-edit.installer-spec {
	width: 260px;
	display: inline-block;
	margin-right: 20px;
	td.label {
		label {
			width: 150px;
		}
	}
	&.overview {
		width: 320px;
		h2 {
			margin: 0;
			line-height: 1.1em;
		}
	}
}

#financial-grid,
#accounting-grid {
	width: auto;
	display: inline-block;
	margin-right: 30px;
	vertical-align: top;
	.fieldset {
		min-height: 60px;
		input {
			width: 50px;
		}
	}
}

#accounting-grid {
	.fieldset {
		input {
			width: 80px;
		}
	}
}